.navBar{
    width: 100%;
    background-color: #673ab7;
    height: 50px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: white;
    font-size: 20px;
}
.menuButton{
    font-size: 40px;
}
.titleInNav{
    margin: 0px;
    margin-left: 30px;
    font-weight: bold;
}
